<!-- <mat-form-field appearance="outline" class="tag-input">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [(ngModel)]="inputValue"
    (keydown)="handleKeydown($event)"
    [matChipInputSeparatorKeyCodes]="[13, 188]"  
  />
</mat-form-field>

<mat-chip-list #chipList>
  <mat-chip
    *ngFor="let tag of control.value; let i = index"
    [selectable]="false"
    [removable]="true"
    (removed)="removeTag(i)"
  >
    {{ tag }}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list> -->
